@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  /* navbar */
  
body {
    background-color: rgb(20, 26, 26);
    font-family: 'Roboto', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    color: aliceblue;

}

.img {
    width: 50%;
    border-radius: 8px;

}

.container {

    background-color: rgb(34, 34, 37);
    width: 20%;
    height: auto;
    border-radius: 12px;
}

.paragraph {
    color: white;
}

.icon {
    color: white;
}