body {
    background-color: rgb(72, 72, 151);
    color: white;

}

.center {
    text-align: center;
}

.btn1 {
    background-color: #526ecc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 700px;
}

.btn2 {
    background-color: #e7c814;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 250px;
}

.btn3 {
    background-color: #14d41a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 700px;
    border-radius: 20px;
}

.btn4 {
    background-color: #db1313;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 250px;
    border-radius: 20px;
}

.btn5 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 700px;
    background-color: transparent;
    border: 2px solid #651212;
}

.btn5:hover {
    background-color: #db1313;
}

.btn6 {
    background-color: transparent;
    border: solid;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 250px;
    border-color: purple;
}

.btn6:hover {
    background-color: purple;
}

.btn7 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 700px;
    background-color: transparent;
    border: 2px solid yellow;
    border-radius: 20px;
}

.btn7:hover {
    background-color: yellow;
}

.btn8 {
    background-color: transparent;
    border: solid;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 250px;
    border-radius: 20px;
    border-color: aqua;
}

.btn8:hover{
    background-color: aqua;
}