@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 80px;
    margin: auto;
    background-color: #24252a;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  li {
    position: relative;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  li a::after {
    content: "";
    position: absolute;
    background-color: #0088a9;
    left: 0;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  li a:hover::after {
    width: 100%;
  }
  
  li a::before {
    content: "";
    position: absolute;
    background-color: #0088a9;
    left: 0;
    height: 3px;
    width: 0;
    top: -10px;
    transition: 0.3s;
  }
  
  li a:hover::before {
    width: 100%;
  }
  
  .cta {
    position: relative;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  /* contact me */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(20, 26, 26);
  }
  
  a {
    text-decoration: none;
  }
  
  #container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    display: block;
  }
  
  .form-wrap {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
  }
  
  .form-wrap h1,
  .form-wrap p {
    text-align: center;
  }
  
  .form-wrap .form-group {
    margin-top: 15px;
  }
  
  .form-wrap  .form-group label {
    display: block;
    color: #666;
  }
  
  .form-wrap .form-group input,
  select {
    width: 100%;
    padding: 5px;
    border-radius: #ddd 1px solid;
    border-radius: 5px;
  }
  
  .form-wrap button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #24252a;
    padding: 10px;
    margin-top: 20px;
  }
  
  .form-wrap textarea {
    width: 100%;
  }
  
  .form-wrap button:hover{
    background-color: black;
  }
  p {
   font-size: 18px;
  }
  #message{
    max-width: 100%;
    max-height: 100%;
  }

  